.delete-confirmation {
    text-align: center;
    padding-bottom: 40px;
}

.delete-confirmation h1 {
    padding: 40px 0;
}

.delete-block-outer {
    padding: 0 10px;
}

.delete-block {
    border: 1px solid #a91313;
    border-radius: 6px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.confirmation-letter {
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.delete-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.form-delete-recipe input[type=submit] {
    background-color: #a91313;
    color: #efefef;
    cursor: pointer;
}

.delete-form a {
    text-decoration: underline;
}