.new-recipe {
    padding: 0 20px;
}

.add-a-new-recipe {
    background-color: #74924AB3;
    padding: 40px 0;
    box-sizing: border-box;
}

.new-recipe-block {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 6px;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.new_recipe__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}


#id_ingredients, #id_steps {
    min-height: 100px;
}

.add-a-recipe-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

}

.new-recipe-form-field {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.new-recipe-form-field input,
.new-recipe-form-field select,
.new-recipe-form-field textarea {
    width: 100%;
}

.new_recipe_submit {
    text-transform: uppercase;
}