.new-recipe {
    width: 1100px;
}

.add-a-new-recipe {
    background-color: #74924a;
    padding: 40px 0;
    box-sizing: border-box;
}

.new-recipe-block {
    text-align: center;
    min-height: 1225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 50px 150px;
    box-sizing: border-box;
    border-radius: 6px;

}

.new_recipe__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1060px;
}


#id_ingredients, #id_steps {
    min-height: 100px;
}

.add-a-recipe-form {
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-recipe-form-field input,
.new-recipe-form-field select,
.new-recipe-form-field textarea {
    width: 100%;
}

.new_recipe_submit {
    text-transform: uppercase;
}