.sp-recipe {
    width: 980px;
}

.information-about-recipe {
    display: flex;
    padding: 50px 0 100px 0;
}

.recipe-image,
.ingredients {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.recipe-main-information,
.steps {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.recipe-main-information {
    justify-content: space-between;
}

.recipe-image img {
    width: 320px;
    height: 302px;
}

.recipe-heading {
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 50px;
    font-size: 2.3rem;
    word-break: break-word;
}

.recipe-author {
    font-size: 0.9rem;
    color: #B8B8B8FF;
}

.rating-comments-link {
    display: flex;
    flex-direction: row;
    max-width: 150px;
    align-items: center;
    justify-content: space-between;
}

.star-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    justify-content: space-between;
}

.comments-counter {
    text-decoration: underline;
}

.recipe-info {
    display: flex;
}

.recipe-info img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.category-details,
.portions-details,
.cooking-time-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
}

.favorite-and-print-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-to-favourites,
.print-recipe {
    margin-right: 20px;
}

.button-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    border: 1px solid #E5E5E5FF;
    border-radius: 2px;
    padding: 0 5px;
    box-sizing: border-box;
    max-width: max-content;
    text-transform: uppercase;
    min-height: 35px;
    min-width: 100px;
    justify-content: space-around;
}

.button-favorites-link {
    min-width: 175px;
}

.button-favorites-link img {
    width: 20px;
    height: 20px;
}

.delete-link img {
    width: 18px;
    height: 18px;
}

.delete-link {
    border: 1px solid #a91313;
    border-radius: 2px;
}

.ingredients,
.steps-heading {
    text-align: center;
}

.ingredients-heading,
.steps-heading {
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ingredient-list,
.steps-list {
    list-style: none;
    font-size: 17px;
    font-weight: 200;
}

.ingredient-list {
    padding: 10px 0;
}

.steps-list {
    text-align: justify;
    line-height: 2;
    padding-bottom: 10px;
}

.list-item-separator {
    border-bottom: 1px solid #efefef;
}

.list-item-separator:first-child {
    border-top: 1px solid #efefef;
}

.cooking-information {
    display: flex;
    margin-bottom: 70px;
}
