<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/media_base.css' %}">
    <link rel="icon" type="image/x-con" href="{% static 'base/images/favicon.ico' %}">
    {% block css %}{% endblock %}
</head>
<body>
<header class="header-menu">
    <div class="header container">
        <div class="header-top">
            <div class="logo-menu">
                <div class="logo">
                    <a href="{% url 'recipes' %}"><img src="{% static 'base/images/neliapila_logo.svg' %}"
                                                       alt="NELIAPILA"></a>
                </div>
                <div class="menu">
                    <ul class="menu-list">
                        <li><a href="{% url 'recipes' %}">Recipes</a></li>
                        <li><a href="{% url 'authors' %}">Authors</a></li>
                        {% if user.is_staff %}
                        <li><a href="{% url 'pending-recipes' %}">Pen</a></li>
                        <li><a href="{% url 'pending-comments' %}">Cmnts</a></li>
                        <li><a href="{% url 'messages' %}">Msgs</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="right-items-login">
                <div class="search-block">
                    <button class="search-logo" id="search_logo">
                        <img src="{% static 'base/images/search-logo.svg' %}" alt="Search">

                    </button>
                    <div class="search-bar" id="search-bar">
                        <div role="button" id="close-search-bar-block" aria-label="Close search window" tabindex="0"
                             class="search-bar-close"></div>
                        <div class="search-bar-block-form">
                            <form action="{% url 'found-recipes' %}" class="search-bar-form sbf" method="GET">
                                <button type="submit"><img src="{% static 'base/images/search_logo.svg' %}" alt="ENTER">
                                </button>
                                <input type="text" placeholder="Search Recipes" name="search-bar">
                            </form>
                            <button type="button" class="close-search-bar" id="close-search-bar"><img
                                    src="{% static 'user/images/delete.svg' %}"></button>

                        </div>
                    </div>
                </div>

                {% if user.is_authenticated %}
                <a class="user-favourites" href="{% url 'favorites' %}">
                    {% else %}
                    <a class="user-favourites" href="{% url 'login' %}">
                        {% endif %}
                        <img src="{% static 'base/images/favs.svg' %}" alt="Favorites">
                    </a>
                </a>
                <div class="user-profile-next-links">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' user.profile.id %}">
                        {% else %}
                        <a href="{% url 'login' %}">
                            {% endif %}
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                            <img class="profile-image" src="{{ user.profile.image.url }}" alt="Profile picture">
                            {% else %}
                            <img class="svg-user" src="{% static 'base/images/unauthorized-user.svg' %}" alt="User">
                            {% endif %}
                        </a>
                    </a>
                    {% if user.is_authenticated %}
                    <button class="arrow-button" id="arrow-button">
                        <img id="arrow" src="{% static 'base/images/arrow.svg' %}" alt="Arrow">
                    </button>
                    <div class="profile-popup" id="profile-popup-settings">
                        <div class="popup-profile-username">
                            <a class="profile-user-link" href="{% url 'profile' user.profile.id %}">
                                <img class="svg-user" src="{% static 'base/images/user2.svg' %}" alt="User">
                                <span>{{ user.profile.username }}</span></a>
                        </div>
                        <div class="edit-profile">
                            <a class="edit-profile-link" href="{% url 'edit-profile' user.profile.id %}">
                                <img class="svg-user" src="{% static 'base/images/edit-profile.svg' %}"
                                     alt="Edit profile">
                                <span>Edit</span>
                            </a>
                        </div>
                        <div class="logout-form">
                            <img class="logout-svg" src="{% static 'base/images/logout.svg' %}" alt="Logout">
                            <form class="logout-form-form" action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button class="logout-btn">Logout</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}

                </div>
                <a class="add-a-recipe right-links" href="{% url 'add-recipe' %}">ADD A RECIPE</a>
                <nav class="navigation">
                    <div class="burger-menu" id="burger">
                        <span></span>
                    </div>
                    <div class="main-nav-menu">
                        {% if user.is_authenticated %}
                        <div class="profile-info">
                            <a class="profile-link-popup" href="{% url 'profile' user.profile.id %}">
                                <img class="profile-image" src="{{ user.profile.image.url }}" alt="User image">
                                <span>@{{ user.profile.username }}</span>
                            </a>
                            <img id="arrow-menu-nav" class="arrow-menu" src="{% static 'base/images/arrow.svg' %}"
                                 alt="Arrow">
                        </div>
                        <div id="profile-links" class="profile-links">
                            <div class="popup-profile-username">
                                <a class="profile-user-link" href="{% url 'profile' user.profile.id %}">
                                    <img class="svg-user" src="{% static 'base/images/user2.svg' %}" alt="User">
                                    <span>Your recipes</span></a>
                            </div>
                            <div class="edit-profile">
                                <a class="edit-profile-link" href="{% url 'edit-profile' user.profile.id %}">
                                    <img class="svg-user" src="{% static 'base/images/edit-profile.svg' %}"
                                         alt="Edit profile">
                                    <span>Edit</span>
                                </a>
                            </div>
                            <div class="logout-form">
                                <img class="logout-svg" src="{% static 'base/images/logout.svg' %}" alt="Logout">
                                <form class="logout-form-form" action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="logout-btn">Logout</button>
                                </form>
                            </div>
                        </div>
                        {% else %}
                        <div class="sign-in-link">
                            <a href="{% url 'login' %}">Sign In</a>
                        </div>
                        {% endif %}
                        <div class="menu-links">
                            <a href="{% url 'recipes' %}">Recipes</a>
                            <a href="{% url 'authors' %}">Authors</a>
                            {% if user.is_staff %}
                            <a href="{% url 'pending-recipes' %}">Pending recipes</a>
                            <a href="{% url 'pending-comments' %}">Comments</a>
                            <a href="{% url 'messages' %}">Msgs</a>
                            {% endif %}
                        </div>
                        <a class="menu-link-add-a-recipe" href="{% url 'add-recipe' %}">ADD A RECIPE</a>

                    </div>
                </nav>
            </div>
        </div>
        <div class="search-bar-mob search" id="search-bar-mob">
            <div class="search-bar-block-form-mob">
                <form action="{% url 'found-recipes' %}" class="search-bar-form-mob sbf" method="GET">
                    <button type="submit"><img src="{% static 'base/images/search_logo.svg' %}" alt="ENTER">
                    </button>
                    <input type="text" placeholder="Search Recipes" name="search-bar">
                </form>
            </div>
        </div>
    </div>

</header>

<div class="all_alert_messages">
    {% for message in messages %}
    <div id="alert" class="alert alert--{{ message.tags }}">
        <p class="alert__message">{{ message|safe }}</p>
        <button class="alert__close" id="alert__close">x</button>
    </div>
    {% endfor %}
</div>
<main>
    {% block content %}

    {% endblock content%}
</main>

<footer class="footer-nav">
    <div class="page-footer_wrapper container">
        <div class="site-links">
            <div class="links-list">
                <ul class="list-of-links">
                    <li><a href="{% url 'recipes' %}">Explore</a></li>
                    <li><a href="{% url 'about-us' %}">About</a></li>
                    <li><a href="{% url 'contact-us' %}">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="developer-info">
            <div class="footer-designer-name">
                <h3>Designed and Developed by Daria V.</h3>
            </div>
            <div class="footer-copyright">
                <h3>Copyright © 2024</h3>
            </div>
            <div class="footer-body">
                <ul class="footer-icons">
                    <li class="social-icon">
                        <a href="https://github.com/dariavarlamovaa" target="_blank"
                           rel="noopener noreferrer">
                            <svg stroke="currentColor" fill="#211f1f" stroke-width="0" viewBox="0 0 1024 1024"
                                 height="15px" width="15px" xmlns="http://www.w3.org/2000/svg">
                                <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="social-icon">
                        <a href="https://www.linkedin.com/in/dariavarlamovaa/"
                           target="_blank" rel="noopener noreferrer">
                            <svg stroke="currentColor" fill="#211f1f" stroke-width="0" viewBox="0 0 448 512"
                                 height="15px" width="15px" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/burger-menu.js' %}"></script>
{% block script_block %}
{% endblock %}
</body>
</html>