<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="icon" type="image/x-con" href="{% static 'base/images/favicon.ico' %}">
    {% block css %}{% endblock %}
</head>
<body>
<header class="header-menu">
    <div class="header container">
        <div class="header-top">
            <div class="logo-menu">
                <div class="logo">
                    <a href="{% url 'recipes' %}"><img src="{% static 'base/images/neliapila_logo.svg' %}"
                                                       alt="NELIAPILA"></a>
                </div>
                <div class="menu">
                    <ul class="menu-list">
                        <li><a href="{% url 'recipes' %}">Recipes</a></li>
                        <li><a href="{% url 'authors' %}">Authors</a></li>
                        {% if user.is_staff %}
                        <li><a href="{% url 'pending-recipes' %}">Pending recipes</a></li>
                        <li><a href="{% url 'pending-comments' %}">Pending comments</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="search-bar" id="search-bar">
                <form action="{% url 'found-recipes' %}" class="search-bar-form" method="GET">
                    <button type="submit"><img src="{% static 'base/images/search_logo.svg' %}" alt="ENTER"></button>
                    <input type="text" placeholder="Search Recipes" name="search-bar">
                </form>
            </div>
            <div class="right-items-login">
                <button class="search-logo" id="search_logo">
                    <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier">
                            <g clip-path="url(#clip0_15_152)">
                                <rect width="24" height="24" fill="none"/>
                                <circle cx="10.5" cy="10.5" r="6.5" stroke="#74924a" stroke-linejoin="round"/>
                                <path d="M19.6464 20.3536C19.8417 20.5488 20.1583 20.5488 20.3536 20.3536C20.5488 20.1583 20.5488 19.8417 20.3536 19.6464L19.6464 20.3536ZM20.3536 19.6464L15.3536 14.6464L14.6464 15.3536L19.6464 20.3536L20.3536 19.6464Z"
                                      fill="#74924a"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_15_152">
                                    <rect width="24" height="24" fill="white"/>
                                </clipPath>
                            </defs>
                        </g>

                    </svg>
                </button>
                {% if user.is_authenticated %}
                <a class="user-favourites" href="{% url 'favorites' %}">
                    {% else %}
                    <a class="user-favourites" href="{% url 'login' %}">
                        {% endif %}
                        <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M5 6c0-1.4 0-2.1.272-2.635a2.5 2.5 0 0 1 1.093-1.093C6.9 2 7.6 2 9 2h6c1.4 0 2.1 0 2.635.272a2.5 2.5 0 0 1 1.092 1.093C19 3.9 19 4.6 19 6v13.208c0 1.056 0 1.583-.217 1.856a1 1 0 0 1-.778.378c-.349.002-.764-.324-1.593-.976L12 17l-4.411 3.466c-.83.652-1.245.978-1.594.976a1 1 0 0 1-.778-.378C5 20.791 5 20.264 5 19.208V6z"
                                      fill="#e66060"/>
                            </g>
                        </svg>
                    </a>
                </a>
                <div class="user-profile-next-links">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' user.id %}">
                        {% else %}
                        <a href="{% url 'login' %}">
                            {% endif %}
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                            <img class="profile-image" src="{{ user.profile.image.url }}" alt="Profile picture">
                            {% else %}
                            <svg class="svg-user" width="40px" height="40px" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"
                                          stroke="#74924a" stroke-width="1" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                    <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z"
                                          stroke="#74924a"
                                          stroke-width="1" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            {% endif %}
                        </a>
                    </a>
                    {% if user.is_authenticated %}
                    <button class="arrow-button" id="arrow-button">
                        <svg id="arrow" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 10L12 15L17 10" stroke="#000000" stroke-width="1" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </button>
                    {% endif %}
                    <div class="profile-popup" id="profile-popup-settings">
                        <div class="popup-profile-username">
                            <a class="profile-user-link" href="{% url 'profile' user.id %}">
                                <svg class="svg-user" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"
                                              stroke="#000000" stroke-width="1" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                        <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z"
                                              stroke="#000000"
                                              stroke-width="1" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                <span>{{ user.profile.username }}</span></a>
                        </div>
                        <div class="edit-profile">
                            <a class="edit-profile-link" href="{% url 'edit-profile' user.id %}">
                                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z"
                                              stroke="#000000" stroke-width="1" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                        <path d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13"
                                              stroke="#000000" stroke-width="1" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                <span>Edit</span>
                            </a>
                        </div>
                        <div class="logout-form">
                            <svg class="logout-svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path d="M16 6.07026C18.3912 7.45349 20 10.0389 20 13C20 17.4183 16.4183 21 12 21C7.58172 21 4 17.4183 4 13C4 10.0389 5.60879 7.45349 8 6.07026M12 3V13"
                                          stroke="#000000" stroke-width="1" stroke-linecap="round"></path>
                                </g>
                            </svg>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button class="logout-btn">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
                <a class="add-a-recipe right-links" href="{% url 'add-recipe' %}">ADD A RECIPE</a>
            </div>
        </div>
    </div>

</header>

<div class="all_alert_messages">
    {% for message in messages %}
    <div id="alert" class="alert alert--{{ message.tags }}">
        <p class="alert__message">{{ message|safe }}</p>
        <button class="alert__close" id="alert__close">x</button>
    </div>
    {% endfor %}
</div>
<main>
    {% block content %}

    {% endblock content%}
</main>

<footer class="footer-nav">
    <div class="page-footer_wrapper container">
        <div class="site-links">
            <div class="links-list">
                <ul class="list-of-links">
                    <li><a href="{% url 'recipes' %}">Explore</a></li>
                    <li><a href="{% url 'about-us' %}">About</a></li>
                    <li><a href="{% url 'contact-us' %}">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="developer-info">
            <div class="footer-designer-name">
                <h3>Designed and Developed by Daria V.</h3>
            </div>
            <div class="footer-copyright">
                <h3>Copyright © 2023</h3>
            </div>
            <div class="footer-body">
                <ul class="footer-icons">
                    <li class="social-icon">
                        <a href="https://github.com/dariavarlamovaa" target="_blank"
                           rel="noopener noreferrer">
                            <svg stroke="currentColor" fill="#211f1f" stroke-width="0" viewBox="0 0 1024 1024"
                                 height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                                <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="social-icon">
                        <a href="https://www.linkedin.com/in/dariavarlamovaa/"
                           target="_blank" rel="noopener noreferrer">
                            <svg stroke="currentColor" fill="#211f1f" stroke-width="0" viewBox="0 0 448 512"
                                 height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/base.js' %}"></script>
{% block script_block %}
{% endblock %}
</body>
</html>