<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="icon" type="image/x-con" href="{% static 'base/images/favicon.ico' %}">
    {% block css %}{% endblock %}
</head>
<body>
{% block header %}
<header class="header-menu">
    <div class="header container">
        <div class="header-top">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'base/images/neliapila_logo.svg' %}" alt="NELIAPILA"></a>
            </div>
            <div class="search-bar">
                <form action="" class="search-bar-form">
                    <button type="submit"><img src="{% static 'base/images/search_logo.svg' %}" alt="ENTER"></button>
                    <input type="text" placeholder="Search Recipes" name="search-bar">
                </form>
            </div>
            <div class="right-items-login">
                {% if user.is_authenticated %}
                <a class="user-favourites" href="#">
                    {% else %}
                    <a class="user-favourites" href="{% url 'login' %}">
                        {% endif %}
                        <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M5 6c0-1.4 0-2.1.272-2.635a2.5 2.5 0 0 1 1.093-1.093C6.9 2 7.6 2 9 2h6c1.4 0 2.1 0 2.635.272a2.5 2.5 0 0 1 1.092 1.093C19 3.9 19 4.6 19 6v13.208c0 1.056 0 1.583-.217 1.856a1 1 0 0 1-.778.378c-.349.002-.764-.324-1.593-.976L12 17l-4.411 3.466c-.83.652-1.245.978-1.594.976a1 1 0 0 1-.778-.378C5 20.791 5 20.264 5 19.208V6z"
                                      fill="#e32400"/>
                            </g>
                        </svg>
                    </a>
                </a>
                <div class="user-profile-next-links">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' user.id %}">
                        {% else %}
                        <a href="{% url 'login' %}">
                            {% endif %}
                            {% csrf_token %}

                            <svg class="svg-user" width="40px" height="40px" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"
                                          stroke="#74924a" stroke-width="1.3679999999999999" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                    <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z"
                                          stroke="#74924a"
                                          stroke-width="1.3679999999999999" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </a>
                    </a>
                    <button class="arrow-button" id="arrow-button">
                        <svg id="arrow" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 10L12 15L17 10" stroke="#000000" stroke-width="1" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <div class="profile-popup" id="profile-popup-settings">
                        <div class="edit-profile">
                            <a href="#">
                                Edit
                            </a>
                        </div>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="logout-btn">LOGOUT</button>
                        </form>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <a class="add-a-recipe right-links" href="#">ADD A RECIPE</a>
                {% else %}
                <a class="add-a-recipe right-links" href="{% url 'login' %}">ADD A RECIPE</a>
                {% endif %}
            </div>
        </div>
    </div>

</header>
{% endblock header %}

{% for message in messages %}
<div class="alert alert--{{ message.tags }}">
    <p class="alert__message">{{ message }}</p>
    <button class="alert__close">X</button>
</div>
{% endfor %}
<main>
    {% block content %}

    {% endblock content%}
</main>

<footer class="footer-nav">
    <div class="page-footer_wrapper container">
        <div class="footer-designer-name">
            <h3>Designed and Developed by Daria V.</h3>
        </div>
        <div class="footer-copyright">
            <h3>Copyright © 2023</h3>
        </div>
        <div class="footer-body">
            <ul class="footer-icons">
                <li class="social-icon">
                    <a href="https://github.com/dariavarlamovaa" target="_blank"
                       rel="noopener noreferrer">
                        <svg stroke="currentColor" fill="#211f1f" stroke-width="0" viewBox="0 0 1024 1024"
                             height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                            <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path>
                        </svg>
                    </a>
                </li>
                <li class="social-icon">
                    <a href="https://www.linkedin.com/in/daria-varlamova-091537270/"
                       target="_blank" rel="noopener noreferrer">
                        <svg stroke="currentColor" fill="#211f1f" stroke-width="0" viewBox="0 0 448 512"
                             height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script src="{% static 'js/popup.js' %}"></script>
{% block script_block %}
{% endblock %}
</body>
</html>