.contact-main h1 {
    text-align: center;
    padding: 50px 0;
}

.contact-form-division {
    max-width: 900px;
    margin: 0 auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 500px;
}

.labels {
    max-height: 400px;
}

.form__field {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
}
