.all_favorites h1 {
    text-align: center;
    margin-bottom: 30px;
}

.favorites-parts {
    padding: 30px 30px 40px 30px;
}

.one-favorite {
    margin-bottom: 30px;
    position: relative;
}

.recipe-main-info {
    display: flex;
}

.portion-time-details {
    display: flex;
}

.no-favourites {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.no-favourites img {
    margin-bottom: 30px;
    max-width: 300px;
}

.no-favourites span,
.no-favourites p {
    color: #B8B8B8FF;
    font-size: 13px;
    margin-bottom: 30px
}

.no-favourites a {
    color: #E66060;
    font-weight: bold;
    text-decoration: underline;
}

.delete-img-link {
    display: flex;
}

.delete-from-favorites {
    display: flex;
    align-items: center;
    padding-left: 30px;
}