@media screen and (max-width: 445px){
    .login-block, .sign-up-block {
        padding: 50px 40px;
    }

    .sign-in-form p {
        flex-direction: column;
        min-height: 60px;
        align-items: unset;
        min-width: unset;
    }

    .link-to-signup {
        font-size: 13px;
    }

}