.messages h1 {
    text-align: center;
    padding: 50px 0;
}

.message-info {
    border: 1px solid #efefef;
    border-radius: 6px;
    padding: 20px 30px;
    margin-bottom: 25px;
}

.sender-email-date {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-between;
}

.sender-email {
    display: flex;
    flex-direction: row;
}

.msg-sender,
.msg-email {
    padding-right: 30px;
    font-weight: 500;
}

.msg-date {
    font-size: 15px;
    color: #777777;
}

.msg-subject {
    padding-bottom: 30px;
}

.no-messages {
    text-align: center;
}