.profile-settings {
    background-image: url("../images/settings-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.settings {
    min-height: 800px;
}

.profile-image-settings img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

.settings-parts {
    float: right;
    text-align: center;
    min-width: 700px;
    min-height: 750px;
    color: #74924a;
    padding: 20px 70px;
    box-sizing: border-box;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings-form {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: -webkit-center;
}


.settings-form input,
.settings-form textarea {
    outline: none;
    border-radius: 60px;
    border: 1px solid rgba(116, 146, 74, 0.5);
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 15px;
    max-height: 50px;
}


.change-profile-pic input {
    border: none;
}

.form-field input,
.form-field textarea {
    width: 100%;
}

.settings-form input:focus {
    outline: 3px solid #74924a;
}

.submit {
    width: 100%;
    border: 1px solid rgba(116, 146, 74, 0.5);
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 60px;
    color: #74924a;
    font-weight: 500;
    min-height: 40px;
    cursor: pointer;
}

.btn:hover {
    background-color: #74924a;
    color: #FFFFFF;
}