.profile-settings {
    background-image: url("../images/settings-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.settings {
    min-height: 670px;
}

.profile-image-settings img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.settings-parts {
    float: right;
    text-align: center;
    min-width: 600px;
    min-height: 600px;
    color: #74924a;
    padding: 20px 70px;
    box-sizing: border-box;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings-form {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: -webkit-center;
}


.settings-form input,
.settings-form textarea {
    font-size: 12px;
    max-height: 50px;
}


.change-profile-pic input {
    border: none;
}

.form-field input,
.form-field textarea {
    width: 100%;
}

.settings-form input:focus {
    outline: 3px solid #74924a;
}

.submit {
    text-transform: uppercase;
    height: 33px;
}
