.reset-heading {
    text-align: center;
    padding: 50px 0;
}

.reset-form {
    max-width: 600px;
    margin: 0 auto;
}

.reset-form input[type=email] {
    width: calc(100% - 173px);
    margin-bottom: 20px;
}

.form-buttons {
    text-align: center;
}

.btn-submit {
    margin-bottom: 20px;
}

.cancel-button {
    text-decoration: underline;
}

.email-info {
    text-align: center;
}

.invalid-link {
    text-align: center;
}

.new-password-form {
    max-width: 700px;
}

.new-password-form p {
    margin-bottom: 20px;
}

#id_new_password1 {
    width: calc(100% - 187px);
}

#id_new_password2 {
    width: calc(100% - 355px);
}

.new-password-form ul {
    list-style: none;
}


.reset-successfully-done {
    text-align: center;
}

.reset-successfully-done a {
    color: #74924a;
    text-decoration: underline;
}