.login-user,
.signup-user {
    background-image: url("../images/login-signup-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login,
.signup {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-block,
.sign-up-block {
    min-width: 600px;
    max-width: 600px;
    min-height: 500px;
    text-align: center;
    padding: 50px 100px;
    background-color: #FFFFFF;
    border-radius: 60px;
    color: #74924a;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-up-block {
    min-height: 640px;
}

.form-parts {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-in-form,
.auth__form {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    justify-content: space-between;
}


.sign-in-form p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form__field {
    text-align: left;
}

.sign-in-form input:focus,
.form__field input:focus {
    outline: 3px solid #74924a;
}

.form__field input {
    width: 100%;
}


.link {
    color: #74924a;
    font-weight: 500;
    text-decoration: underline;
}

.forgot-password {
    text-align: right;
    font-size: 17px;
    color: #74924a;
}

.link-forget-password {
    color: #74924a;

}

.error-form-label-input {
    font-size: 17px;
    color: #CF1818DB;
    text-align: center;
}