.about-us-info h1 {
    text-align: center;
    padding: 50px 0;
}

.about-us-info p {
    font-size: 15px;
    text-align: justify;
}

.about-us-info span {
    color: #74924a;
    font-weight: bold;
}