.authors h1 {
    padding: 50px 0;
    text-align: center;
}

.all-authors {
    padding: 0 20px 40px;
    display: grid;
    grid-template-columns: repeat( auto-fill, 290px);
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    justify-content: center;
}

.one-author {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #efefef;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 20px;
}

.author-image img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 10px;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% - 100px);
    text-align: center;
}