{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ recipe.title }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'recipes/css/one-pending-recipe.css' %}">
{% endblock %}
{% block content %}
<section class="one-pending-recipe-page">
    <section class="one-pending-recipe container">
        <h1 class="pending-recipe-heading">{{ recipe.title }}</h1>
        <div class="one-recipe">
            <img class="pending-recipe-image" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">

            <form method="post" class="recipe-edit-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="new_recipe_submit btn" type="submit" value="APPROVE"/>
            </form>
        </div>
    </section>
</section>
{% endblock %}