{% extends 'base/base.html' %}
{% load static %}
{% block title %}Pending comments{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'recipes/css/comment-section.css' %}">
{% endblock %}
{% block content %}
<section class="pending-comments-page">
    <section class="pending-comments container">
        <h1 class="pending-comments-heading">Pending comments</h1>
        {% if comments %}
        <section class="all-recipe-comments">
            <div class="comments">
                {% for comment in comments %}
                <div class="one-comment">
                    <div class="comment-owner-info">
                        <div class="comment-owner-info-left">
                            <div class="comment-owner-image">
                                <a href="{% url 'profile' comment.owner.user.id %}">
                                    <img src="{{ comment.owner.image.url }}" alt="Commentator`s image">
                                </a>
                            </div>
                            <div class="owner-name-and-date-created">
                                <div class="owner-name">
                                    <a href="{% url 'profile' comment.owner.user.id %}">
                                        {{ comment.owner.username }}</a>
                                </div>
                                <div class="date-created">
                                    <p>{{ comment.created_date | date:"j F Y"}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment-rating">
                            <p>{{ comment.rating }} / 5</p>
                        </div>
                    </div>
                    <div class="comment-body">
                        <p>{{ comment.body }}</p>
                    </div>
                    <div class="delete-comment">
                        <a href="{% url 'delete-comment' comment.id %}">
                            <img src="{% static 'user/images/delete.svg' %}" alt="Delete">
                        </a>
                    </div>
                    <div class="approve-comment">
                        <a href="{% url 'approve-comment' comment.id %}">
                            <img src="{% static 'recipes/images/check-mark.svg' %}" alt="Check mark">
                        </a>
                    </div>
                    <div class="recipe-info-link">
                        <p>Recipe - <a href="{% url 'specific-recipe' comment.recipe.id %}">{{ comment.recipe }}</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% else %}
        <p class="no-pending-comments">There is no pending comments</p>
        {% endif %}
    </section>
    <section class="paginator-section">
        {% if comments.has_other_pages %}
        <div class="pagination container">
            <div class="pag">
                <ul class="pag-list">
                    {% if comments.has_previous %}
                    <li>
                        <a href="?page={{ comments.previous_page_number }}"
                           class="btn page-link">&lt; Prev.</a></li>
                    {% endif %}
                    {% for page in custom_range %}
                    {% if page == comments.number %}
                    <li><a href="?page={{ page }}"
                           class="btn page-link btn__filled">{{ page }}</a></li>
                    {% else %}
                    <li><a href="?page={{ page }}"
                           class="btn page-link">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if comments.has_next %}
                    <li>
                        <a href="?page={{ comments.next_page_number }}"
                           class="btn page-link">Next &gt;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    </section>
</section>
{% endblock %}