{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'recipes/css/specific-recipe.css' %}">
<link rel="stylesheet" href="{% static 'recipes/css/comment-section.css' %}">
{% endblock %}
{% block content %}
<section class="specific-recipe-page">
    <div class="sp-recipe container">
        <section class="specific-recipe-information">
            <section class="information-about-recipe">
                <div class="recipe-image">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                </div>
                <div class="recipe-main-information">
                    <h1 class="recipe-heading">{{ recipe.title }}</h1>
                    <a class="recipe-author" href="{% url 'profile' recipe.author.id %}">
                        By {{ recipe.author }}</a>
                    <div class="rating-comments-link">
                        {% if average_recipe_rating %}
                        <a class="star-rating" href="#comments"><img src="{% static 'recipes/images/star.svg' %}"
                                                                     alt="heart">
                            <span>{{ average_recipe_rating }}</span></a>
                        {% endif %}
                        <a href="#comments">{{ comments_count }} comment{{ comments_count | pluralize:'s' }}</a>
                    </div>
                    <div class="recipe-info">
                        <div class="category-details">
                            <img src="{% static 'recipes/images/food-category-svg.svg' %}" alt="Category">
                            <span class="recipe-category">{{ recipe.category }}</span>
                        </div>
                        <div class="portions-details">
                            <img src="{% static 'recipes/images/pot-svg.svg' %}" alt="Pot">
                            <span>{{ recipe.portions }} portion{{ recipe.portions | pluralize:'s' }}</span>
                        </div>
                        <div class="cooking-time-details">
                            <img src="{% static 'recipes/images/clock-svg.svg' %}" alt="Clock">
                            {% if recipe.cooking_hours != 0 and recipe.cooking_minutes != 0 %}
                            <span>{{ recipe.cooking_hours }} hour{{ recipe.cooking_hours | pluralize:'s' }}
                                {{ recipe.cooking_minutes }} minute{{ recipe.cooking_minutes | pluralize:'s' }}</span>
                            {% elif recipe.cooking_hours != 0 and recipe.cooking_minutes == 0 %}
                            <span>{{ recipe.cooking_hours }} hour{{ recipe.cooking_hours | pluralize:'s' }}</span>
                            {% elif recipe.cooking_hours == 0 and recipe.cooking_minutes != 0 %}
                            <span>{{ recipe.cooking_minutes }} minute{{ recipe.cooking_minutes | pluralize:'s' }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="favorite-and-print-links">
                        {% if recipe.is_approved %}
                        <div class="add-to-favourites">
                            <div class="button-favorites">
                                {% if recipe in favorites %}
                                <a class="button-favorites-link button-link"
                                   href="{% url 'delete-from-favorites' recipe.id %}">
                                    <img src="{% static 'user/images/filled-bookmark-svg.svg' %}" alt="Bookmark">
                                    Added to favorites
                                </a>
                                {% else %}
                                <a class="button-favorites-link button-link"
                                   href="{% url 'add-to-favorites' recipe.id %}">
                                    <img src="{% static 'user/images/bookmark-svg.svg' %}" alt="Bookmark">
                                    Add to favorites
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="print-recipe">
                            <div class="print">
                                <a class="print-link button-link" href="{% url 'pdf' recipe.id %}" target="_blank"><img
                                        src="{% static 'recipes/images/print-svg.svg' %}" alt="Print">
                                    Print
                                </a>
                            </div>
                        </div>
                        {% if request.user.id == recipe.author.id or request.user.is_staff %}
                        <div class="delete-recipe">
                            <div class="delete">
                                <a class="delete-link button-link" href="{% url 'delete-recipe' recipe.id %}">
                                    <img src="{% static 'user/images/delete.svg' %}" alt="Delete">Delete</a>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </section>
        </section>
        <section class="cooking-information">
            <div class="ingredients">
                <h2 class="ingredients-heading">Ingredients</h2>
                <ul>
                    {% for ingredient in ingredients %}
                    <li class="ingredient-list list-item-separator">{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="steps">
                <h2 class="steps-heading">Method</h2>
                <ul>
                    {% for step in steps %}
                    <li class="steps-list">{{ step }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="comments-section">
            <section class="leave-comment" id="comments">
                <h2>Comments ({{ comments_count }})</h2>
                <hr>
                {% if request.user.is_authenticated %}
                <div class="leave-comment-section">
                    <div class="comment-form">
                        <form class="form" action="{% url 'specific-recipe' recipe.id %}" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-for-comment">
                                <label>{{ field.label }}</label>
                                {{ field }}
                            </div>
                            {% endfor %}
                            <input class="submit btn" type="submit" value="Post"/>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="link-to-login">
                    <a class="link-to-login" href="{% url 'login' %}">You need to log in to leave a comment</a>
                </div>
                {% endif %}
            </section>
            {% if comments %}
            <section class="all-recipe-comments">
                <div class="comments">
                    {% for comment in comments %}
                    <div class="one-comment">
                        <div class="comment-owner-info">
                            <div class="comment-owner-info-left">
                                <div class="comment-owner-image">
                                    <img src="{{ comment.owner.image.url }}" alt="Commentator`s image">
                                </div>
                                <div class="owner-name-and-date-created">
                                    <div class="owner-name">
                                        <a href="{% url 'profile' comment.owner.user.id %}">
                                            {{ comment.owner.username }}</a>
                                    </div>
                                    <div class="date-created">
                                        <p>{{ comment.created_date | date:"j F y"}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-rating">
                                <p>{{ comment.rating }} / 5</p>
                            </div>
                        </div>
                        <div class="comment-body">
                            <p>{{ comment.body }}</p>
                        </div>
                        {% if request.user.id == comment.owner.id or user.is_staff %}
                        <div class="delete-comment">
                            <a href="{% url 'delete-comment' comment.id %}">
                                <img src="{% static 'user/images/delete.svg' %}" alt="Delete">
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
        </section>
    </div>
</section>
{% endblock %}