{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'recipes/css/specific-recipe.css' %}">
{% endblock %}
{% block content %}
<section class="specific-recipe-page">
    <div class="sp-recipe container">
        <div class="specific-recipe-information">
            <section class="information-about-recipe">
                <div class="recipe-image">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                </div>
                <div class="recipe-main-information">
                    <h1 class="recipe-heading">{{ recipe.title }}</h1>
                    <a class="recipe-author" href="{% url 'profile' recipe.author.id %}">
                        By {{ recipe.author }}</a>
                    <div class="comments-link">
                        <a href="#comments">{{ comments_count }} comment{{ comments_count | pluralize:'s' }}</a>
                    </div>
                    <div class="recipe-info">
                        <div class="category-details">
                            <img src="{% static 'recipes/images/food-category-svg.svg' %}" alt="">
                            <span class="recipe-category">{{ recipe.category }}</span>
                        </div>
                        <div class="portions-details">
                            <img src="{% static 'user/images/pot-svg.svg' %}" alt="Pot">
                            <span>{{ recipe.portions }} portion{{ recipe.portions | pluralize:'s' }}</span>
                        </div>
                        <div class="cooking-time-details">
                            <img src="{% static 'user/images/clock-svg.svg' %}" alt="Clock">
                            {% if recipe.cooking_hours != 0 and recipe.cooking_minutes != 0 %}
                            <span>{{ recipe.cooking_hours }} hour{{ recipe.cooking_hours | pluralize:'s' }}
                                {{ recipe.cooking_minutes }} minute{{ recipe.cooking_minutes | pluralize:'s' }}</span>
                            {% elif recipe.cooking_hours != 0 and recipe.cooking_minutes == 0 %}
                            <span>{{ recipe.cooking_hours }} hour{{ recipe.cooking_hours | pluralize:'s' }}</span>
                            {% elif recipe.cooking_hours == 0 and recipe.cooking_minutes != 0 %}
                            <span>{{ recipe.cooking_minutes }} minute{{ recipe.cooking_minutes | pluralize:'s' }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    {% if recipe.is_approved %}
                    <div class="add-to-favourites">
                        <div class="button-favorites">
                            {% if recipe in favorites %}
                            <a class="button-favorites-link" href="{% url 'delete-from-favorites' recipe.id %}">
                                <img src="{% static 'user/images/filled-bookmark-svg.svg' %}" alt="Bookmark">
                                Added to favorites
                            </a>
                            {% else %}
                            <a class="button-favorites-link" href="{% url 'add-to-favorites' recipe.id %}">
                                <img src="{% static 'user/images/bookmark-svg.svg' %}" alt="Bookmark">
                                Add to favorites
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </section>
            <section class="cooking-information">
                <div class="ingredients">
                    <h2 class="ingredients-heading">Ingredients</h2>
                    <ul>
                        {% for ingredient in ingredients %}
                        <li class="ingredient-list list-item-separator">{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="steps">
                    <h2 class="steps-heading">Method</h2>
                    <ul>
                        {% for step in steps %}
                        <li class="steps-list">{{ step }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section class="comments" id="comments">
                <h2>Comments</h2>
                <div class="comment-form">
                    {% if request.user.is_authenticated %}
                    <form class="form" action="{% url 'specific-recipe' recipe.id %}" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-for-comment">
                            <label>{{ field.label }}: </label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <input class="submit btn" type="submit" value="Commit"/>
                    </form>
                    {% else %}
                    <a href="{% url 'login' %}">You need to log in to leave a comment</a>
                    {% endif %}
                </div>
            </section>
        </div>

    </div>

</section>
{% endblock %}