{% extends 'base/base.html' %}
{% load static %}
{% block title %}Favorites{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'user/css/favorites.css' %}">
<link rel="stylesheet" href="{% static 'user/css/media_favorites.css' %}">
{% endblock %}
{% block content %}
<section class="favorites-page">
    <div class="favorites container">
        <div class="favorites-parts">
            {% if not favorites %}
            <div class="no-favourites">
                <img src="{% static 'user/images/cookbook.svg' %}" alt="Recipe">
                <span>You don't have any favorite recipes yet</span>
                <p>To find a recipe and add it to favorites, go to the <a href="/">recipes page</a></p>
            </div>
            {% else %}
            <div class="all_favorites">
                <h1>Favorites</h1>
                {% for favorite in favorites %}
                <div class="one-favorite">
                    <div class="recipe-main-info">
                        <div class="recipe-image">
                            <a href="{% url 'specific-recipe' favorite.id %}"><img src="{{ favorite.image.url }}" alt="Recipe Image"></a>
                        </div>
                        <div class="recipe-info">
                            <p class="recipe-category">{{ favorite.category }}</p>
                            <a href="{% url 'specific-recipe' favorite.id %}" class="recipe-title">{{ favorite.title }}</a>
                            <a href="{% url 'profile' favorite.author.id %}" class="recipe-author">
                                By {{ favorite.author }}</a>
                            <div class="recipe-details">
                                <div class="portion-time-details">
                                    <div class="portions-details">
                                        <img src="{% static 'recipes/images/pot-svg.svg' %}" alt="Pot">
                                        <span>{{ favorite.portions }} portion{{ favorite.portions | pluralize:'s' }}</span>
                                    </div>
                                    <div class="cooking-time-details">
                                        <img src="{% static 'recipes/images/clock-svg.svg' %}" alt="Clock">
                                        {% if favorite.cooking_hours != 0 and favorite.cooking_minutes != 0 %}
                                        <span>{{ favorite.cooking_hours }} hour{{ favorite.cooking_hours | pluralize:'s' }}
                                {{ favorite.cooking_minutes }} minute{{ favorite.cooking_minutes | pluralize:'s' }}</span>
                                        {% elif favorite.cooking_hours != 0 and favorite.cooking_minutes == 0 %}
                                        <span>{{ favorite.cooking_hours }} hour{{ favorite.cooking_hours | pluralize:'s' }}</span>
                                        {% elif favorite.cooking_hours == 0 and favorite.cooking_minutes != 0 %}
                                        <span>{{ favorite.cooking_minutes }} minute{{ favorite.cooking_minutes | pluralize:'s' }}
                                </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="delete-from-favorites">
                                    <a class="delete-img-link" href="{% url 'delete-from-favorites' favorite.id %}">
                                        <img src="{% static 'user/images/delete.svg' %}" alt="Delete">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}