{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/user.css' %}">
{% endblock %}
{% block content %}
<section class="login-user">
    <div class="login container">
        <div class="login-block">
            <h1>LOGIN</h1>
            <form method="post" class="sign-in-form">
                {% csrf_token %}
                <p>
                    <label for="id_username">Username</label>
                    <input type="text" name="username" autofocus="" autocapitalize="none"
                           autocomplete="username" required id="id_username">
                </p>
                <p>
                    <label for="id_password">Password</label>
                    <input type="password" name="password"
                           autocomplete="current-password" required
                           id="id_password">
                </p>
                <div class="authenticate">
                    <button class="btn">LOGIN</button>
                </div>
            </form>
            <p>Don't have an account? <a class="sign-up-link link" href="{% url 'signup' %}">Sign up</a></p>
        </div>
    </div>
</section>
{% endblock %}