{% extends 'base/base.html' %}
{% load static %}
{% block title %}Reset password done{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/reset_password.css' %}">
{% endblock %}
{% block content %}
<section class="password-reset-page">
    <div class="password-reset container">
        <h1 class="reset-heading">Reset your password</h1>
        <p class="email-info">We've emailed you instructions for setting your password.</p>
        <p class="email-info">If you didn't receive an email, please make sure you've entered the address you registered with.</p>
    </div>
</section>
{% endblock %}