{% extends 'base/base.html' %}
{% load static %}
{% block title %}Reset password done{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/reset_password.css' %}">
{% endblock %}
{% block content %}
<section class="password-reset-page">
    <div class="password-reset container">
        <h1 class="reset-heading">Password set</h1>
            <p class="reset-successfully-done">Your password has been set. You can <a href="{% url 'login' %}">log in now</a></p>
    </div>
</section>
{% endblock %}