{% extends 'base/base.html' %}
{% load static %}
{% block title %}Reset password{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/reset_password.css' %}">
{% endblock %}
{% block content %}
<section class="password-reset-page">
    <div class="password-reset container">
        <h2 class="reset-heading">Reset Password</h2>
        <form method="post" class="reset-form">
            {% csrf_token %}
            {% for field in form %}
            <span>Enter your email:</span>
            {{ field }}
            {% if field.errors %}
            <small>{{ field.errors|striptags }}</small>
            {% endif %}
            {% endfor %}
            <div class="form-buttons">
                <input type="submit" value="SEND" class="btn btn-submit">
                <a href="{% url 'login' %}" class="cancel-button">Cancel</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}