{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
{% endblock %}
{% block content %}
<section class="user-profile-page">
    <div class="profile container">
        <div class="profile-parts">
            {% if not recipes %}
            <div class="no-recipes">
                <img src="{% static 'user/images/recipe-default.svg' %}" alt="Recipe">
                <p>There is nothing here yet, but soon there will be recipes added by
                    <span>{{ profile.username }}</span></p>
            </div>
            {% else %}
            <div class="profile-recipes">
                <div class="all-recipes">
                    {% for recipe in recipes %}
                    <div class="one-recipe">
                        <div class="recipe-image">
                            <img src="{{ recipe.image.url }}" alt="Recipe Image">
                        </div>
                        <div class="recipe-info">
                            {% if recipe.category != 'Other' %}
                            <p class="recipe-category">{{ recipe.category }}</p>
                            {% endif %}
                            {% if request.user == profile.user and recipe.is_approved == False %}
                            <p class="on-moderation">Pending</p>
                            {% endif %}
                            <a href="#" class="recipe-title">{{ recipe.title }}</a>
                            <a href="{% url 'profile' profile.user_id %}" class="recipe-author">
                                Author: {{ recipe.author }}</a>
                            <div class="recipe-details">
                                <div class="portions-details">
                                    <img src="{% static 'user/images/pot-svg.svg' %}" alt="Pot">
                                    <span>{{ recipe.portions }} portion{{ recipe.portions | pluralize:'s' }}</span>
                                </div>
                                <div class="cooking-time-details">
                                    <img src="{% static 'user/images/clock-svg.svg' %}" alt="Clock">
                                    {% if recipe.cooking_hours != 0 and recipe.cooking_minutes != 0 %}
                                    <span>{{ recipe.cooking_hours }} hour{{ recipe.cooking_hours | pluralize:'s' }}
                                {{ recipe.cooking_minutes }} minute{{ recipe.cooking_minutes | pluralize:'s' }}</span>
                                    {% elif recipe.cooking_hours != 0 and recipe.cooking_minutes == 0 %}
                                    <span>{{ recipe.cooking_hours }} hour{{ recipe.cooking_hours | pluralize:'s' }}</span>
                                    {% elif recipe.cooking_hours == 0 and recipe.cooking_minutes != 0 %}
                                    <span>{{ recipe.cooking_minutes }} minute{{ recipe.cooking_minutes | pluralize:'s' }}
                                </span>
                                    {% endif %}
                                </div>
                            </div>
                            {% if recipe.is_approved %}
                            <div class="add-to-favourites">
                                <div class="button-favorites">
                                    {% if recipe in favorites %}
                                    <a class="button-favorites-link" href="{% url 'delete-from-favorites' recipe.id %}">
                                        <img src="{% static 'user/images/filled-bookmark-svg.svg' %}" alt="Bookmark">
                                        Added to favorites
                                    </a>
                                    {% else %}
                                    <a class="button-favorites-link" href="{% url 'add-to-favorites' recipe.id %}">
                                        <img src="{% static 'user/images/bookmark-svg.svg' %}" alt="Bookmark">
                                        Add to favorites
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="profile-card">
                <img class="profile-avatar"
                     src="{{ profile.image.url }}" alt="User`s photo">
                {% if profile.name %}
                <span class="profile-name">{{ profile.name }}</span>
                {% endif %}
                <span class="profile-username">@{{ profile.username }}</span>
                {% if profile.bio %}
                <div class="about-user">
                    <p>{{ profile.bio }}</p>
                </div>
                {% endif %}
                <div class="count-recipes">
                    <p class="recipes-count count">Recipes {{ recipes_count }}</p>
                    {% if request.user.id == profile.user.id %}
                    <p class="pending-recipes-count count">Pending {{ pending_recipes_count }}</p>
                    {% endif %}
                </div>
                {% if request.user.id == profile.user.id %}
                <a class="profile-edit-link" href="{% url 'edit-profile' user.id %}">Edit profile</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}