{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/user.css' %}">
{% endblock %}
{% block content %}
<section class="user-profile-page">
    <div class="profile container">
        <div class="card__body dev">
            <img class="avatar avatar--xl"
                 src="{{ profile.image.url }}" alt="User`s photo">
            <h2 class="dev__name">{{ full_name }}</h2>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="logout-btn">Logout</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}