{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
{% endblock %}
{% block content %}
<section class="user-profile-page">
    <div class="profile container">
        <div class="profile-parts">
            <div class="profile-recipes">
                <img src="{% static 'user/images/recipe-default.svg' %}" alt="Recipe">
                <span>There is nothing here yet, but soon there will be recipes added by {{ profile.username }}</span>
            </div>
            <div class="profile-card">
                <img class="profile-avatar"
                     src="{{ profile.image.url }}" alt="User`s photo">
                <span class="profile-username">{{ profile.username }}</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}