{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/user.css' %}">
{% endblock %}
{% block content %}

<section class="signup-user">
    <div class="signup container">
        <div class="sign-up-block">
            <h1>SIGN UP</h1>
            <form method="post" class="sign-up-form">
                {% csrf_token %}
                <div class="form-parts">
                    <p>
                        <label for="id_username">Username</label>
                        <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username"
                               autofocus="" required="" id="id_username">
                    </p>
                    <p>
                        <label for="id_password1">Password</label>
                        <input type="password" name="password1" autocomplete="new-password" required=""
                               id="id_password1">
                    <p>
                        <label for="id_password2">Password <span class="confirmation-span">confirmation</span></label>
                        <input type="password" name="password2" autocomplete="new-password" required=""
                               id="id_password2">
                    </p>
                    <div class="authenticate">
                        <button class="sign-up-btn btn">Sign up</button>
                    </div>
                </div>
            </form>
            <p>Already have an account? <a class="sign-in-link link" href="{% url 'login' %}">Login</a></p>

        </div>
    </div>
</section>
{% endblock %}
