@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

html {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #211f1f;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

* :after, :before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #211f1f;
}

h1, h2, h3, p {
    margin: 0;
    font-weight: 300;
}

li, ul {
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid #efefef;
}

svg {
    vertical-align: middle;
}

form label {
    text-transform: uppercase;
}

input, select, textarea {
    border-radius: 6px;
    border: 1px solid rgba(116, 146, 74, 0.5);
    padding: 8px 20px;
    box-sizing: border-box;
    font-size: 12px;
    outline: none;
}

select {
    background-color: #FFFFFF;
    height: 33px;
    appearance: inherit;
}

input:focus,
textarea:focus {
    outline: 1px solid rgba(116, 146, 74, 0.5);

}

textarea {
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgba(116, 146, 74, 0.5);
}

.container {
    width: 1240px;
    margin: 0 auto;
    position: relative;
}

main {
    flex: 1;
}

.header {
    width: 100%;
    padding: 0 2%;
    box-sizing: border-box;
    font-size: 10px;
    border-bottom: 1px solid #efefef;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    box-sizing: border-box;
    position: relative;
}

.logo-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 500px;
}

.logo {
    margin-right: 40px;
}

.logo img {
    height: 35px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 14px;
    min-width: 235px;
}

.menu ul {
    list-style: none;
}

.menu-list li {
    color: #74924a;
    margin-right: 20px;
}

.search-bar {
    width: 100%;
    max-width: 330px;
    border: 1px solid rgba(116, 146, 74, 0.5);
    border-radius: 6px;
    padding: 0 10px;
    box-sizing: border-box;
    position: absolute;
    right: 285px;
    z-index: 999;
    display: none;
}

.search-bar-form {
    display: flex;
    align-items: center;
}

.search-bar-form input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 10px;
}


.search-bar-form button img {
    width: 15px;
    text-align: center;
}

.search-bar-form button {
    display: flex;
    align-items: center;
    border: 0;
    cursor: pointer;
    background: transparent;
}

.right-items {
    font-weight: 500;
}

.right-links {
    color: #74924a;
    font-size: 20px;
}

.right-items-login {
    min-width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-items-login button:nth-child(1),
.user-favourites {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(217, 217, 217);
    padding-right: 10px;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
}

.user-profile-next-links {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.add-a-recipe {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(217, 217, 217);
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 15px;
}

.arrow-button,
.search-logo {
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    border: none;
    padding: 0;
}

.rotate {
    transform: rotate(180deg);
}

.profile-popup {
    min-width: 120px;
    min-height: 110px;
    max-width: 185px;
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 900;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9FF;
    background-color: #FFFFFF;
    display: none;
    font-size: 19px;
    flex-direction: column;
    justify-content: space-between;

}

.profile-popup span,
.profile-popup button {
    font-size: 14px;
}

.profile-popup svg {
    margin-right: 10px;
}

.edit-profile-link,
.logout-form,
.profile-user-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.logout-form button {
    cursor: pointer;
}

.logout-form-form {
    display: flex;
}

.logout-btn {
    border: none;
    background-color: transparent;
    font-size: 19px;
    font-weight: 200;
    padding: 0;
}

.page-footer_wrapper {
    width: 1300px;
    box-sizing: border-box;
}

.list-of-links {
    border-top: 1px solid #efefef;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 15px 0 10px;
}

.list-of-links li {
    padding-right: 30px;
}

.developer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 0;
    font-size: 10px;
    align-items: center;
}

.footer-icons {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
}

.footer-designer-name,
.footer-copyright,
.footer-body {
    height: 40px;
    display: flex;
    align-items: center;
}

.social-icon a {
    color: #FFF;
}


.all_alert_messages {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.alert {
    display: inline-flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    max-height: 200px;
    max-width: 405px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
}

.alert,
.alert > .alert__message {
    background-color: #FFFFFF;
    color: #FFFFFF;
    font-size: 1rem;
}

.alert.alert--error,
.alert.alert--error > .alert__message {
    background-color: #a91313;
    color: #FFFFFF;
}

.alert.alert--success,
.alert.alert--success > .alert__message {
    background-color: #74924a;
    color: #FFFFFF;
}

.alert > .alert__close {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: transparent;
    font-size: 1em;
    z-index: 99;
    color: #FFFFFF;
    padding: 0;
}

.alert > .alert__close:hover {
    opacity: 0.85;
}

.btn {
    width: 100%;
    border: 1px solid rgba(116, 146, 74, 0.5);
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 6px;
    color: #74924a;
    font-weight: 500;
    min-height: 33px;
    max-height: 33px;
    cursor: pointer;
}

.btn:hover {
    background-color: #74924a;
    color: #FFFFFF;
}

.pag {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    align-items: center;
    justify-content: center;
}

.pag-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.pag .btn__filled {
    background-color: #74924a;
    color: #FFFFFF;
}