@media screen and (max-width: 768px) {
    .search-bar-mob {
        display: block;
        margin-bottom: 20px;
    }

    .search-bar-form-mob {
        border: 1px solid #74924a;
        border-radius: 5px;
        box-sizing: border-box
    }

    .sbf button {
        border-right: 1px solid #D9D9D9FF;
    }

    .sbf button img {
        width: 20px;
    }

    .sbf input {
        font-size: 15px;
    }

    .search-logo,
    .user-profile-next-links,
    .add-a-recipe,
    .menu {
        display: none;
    }

    .right-items-login {
        min-width: auto;
    }

    .user-favourites {
        border: 0;
    }

    .user-favourites img {
        height: auto;
        width: 35px;
        display: flex;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        transition: transform .5s;
        height: max-content;
        z-index: 50;
        background-color: white;
        animation: burgerAnimation 0.4s;
        padding-right: 5px;
    }

    .burger-menu {
        display: flex;
        position: relative;
        z-index: 50;
        align-items: center;
        width: 30px;
        height: 27px;
        cursor: pointer;
    }

    .burger-menu span {
        height: 2px;
        width: 80%;
        transform: scale(1);
        background-color: #74924a;
    }

    .burger-menu:before, .burger-menu:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #74924a;
        transition: all 0.5s ease 0s;
    }

    .burger-menu:before {
        top: 0;
    }

    .burger-menu:after {
        bottom: 0;
    }

    .burger-menu.active span {
        transform: scale(0);
    }

    .burger-menu.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .burger-menu.active:after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    .active-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 143px;
        padding: 20px 30px;
        background-color: white;
        width: 100%;
        box-sizing: border-box;
        font-size: 15px;
        z-index: 999;
    }

    .profile-info {
        display: flex;
        padding-bottom: 20px;
    }

    .profile-link-popup {
        display: flex;
        align-items: center;
        padding-right: 10px;
    }


    .profile-link-popup img {
        margin-right: 15px;
    }

    .profile-links {
        display: none;
        flex-direction: column;
        min-height: 90px;
        justify-content: space-between;
        padding: 10px 0;

    }

    .profile-links img {
        margin-right: 10px;
    }

    .logout-btn {
        font-size: 15px;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .menu-link-add-a-recipe {
        border: 1px solid #74924a;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        background-color: #74924a;
        color: white;
    }

    .profile-info,
    .profile-links,
    .sign-in-link {
        border-bottom: 1px solid #efefef;
    }

    .menu-links a {
        padding-bottom: 15px;
    }

    .sign-in-link {
        padding-bottom: 20px;
    }
}

